/*responsividade, todos os dispositivos que tiverem largura menor que 750 px, obedecerão essas regras*/

@media(max-width: 750px){
    .apis{
        flex-direction: column; /*deixando os elementos em colunas*/
        align-items: center;
        padding: 30px 0;
    }

    .cartao-api{
        max-width: 300px;
    }

    .cartao-api .cartao-informacoes{
        padding: 60px 30px 30px;
        margin-top: -50px;
        height: 270px;
    }

    .cartao-api .cartao-informacoes .joke{
        max-height: unset;
        font-size: 18px;
    }

    .cartao-api .cartao-informacoes h3{
        font-size: 16px;
    }

    .jokes{
        margin-top: 10px;
        height: 200px;
        overflow-y: scroll;
    }


    .jokes #setup,
    .jokes #punchline {
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        font-size: 18px;
        margin-bottom: 10px;
        height: auto;
        text-align: center;
    }

    #setup, #punchline {
        font-size: 22px;
    }

    .listagem{
        max-width:360px;
    }

    .listagem .opcao{
        width: 45%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-bottom: 0;
        border-radius: 8px;
    }

    .listagem ul{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;/* Quebra em linhas*/
        gap: 8px; /* Dá um espaçamento*/
    }
}